<div>
  <h1 class="headers">Create your question</h1>
  <div class="indicationsQuestions">
    Question
    <input class ="allButtonsForms" id="questionCreated" type="text" [(ngModel)]="enonce" (ngModelChange)="changeData()">
    CorrectAnswer
    <input class ="allButtonsForms" id="answer1Created" type="text" [(ngModel)]="CorrectAnswer" >
    WrongAnswer
    <input class ="allButtonsForms" id="answer2Created" type="text" [(ngModel)]="WrongAnswer" >
    <input class ="allButtons" id="valButton" type="button" name="valideButton" (click)="valider()" [disabled]="disable()" value="Valider">
    <br>
    <div id="reponseCreated" *ngIf="showMsgQuestionInserted">{{imageQuestionInserted}}  <img src="https://www.freepnglogos.com/uploads/smiley-png/image-thumb-smiley-community-central-fandom-18.png" alt="SMILE" width="60px" align="middle">
    </div>
      <div class="errors" *ngIf="showMsgErrorMissingInfo">{{imageErrorMissingInfo}}  <img src="https://www.nicepng.com/png/full/18-181112_sad-emoji-transparent-background-sad-smiley-face.png" alt="ERROR" width="50px" align="middle">
      </div>
  </div>
</div>
