.headers{
  color: #ff4e42;
  margin: 20px;
  font-size: 25px;
}
.allButtonsForms{
  margin: 10px;
  padding: 3px;
  font-size: 20px;
  background: #c2f4fa;
  color: coral;
}

.allButtons{
  background: coral;
  color: white;
}

.errors{
  color: red;
  font-weight: bold;
}

#reponseCreated{
  color: coral;
  font-weight: bold;
  margin: 10px;
}

input[type=button]:hover {
  background: #f0cfc7;
  color: coral;
  cursor: pointer;
}
.indicationsQuestions{
  color: coral;
  font-weight: bolder;
}
