.groupPeople{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}
.prettyStyle{
  display: flex;
  align-items: center;
  flex-direction: column
}
.headers{
  font-weight: bolder;
  color: #ff4e24;
  margin: 30px;
  font-family: "Comic Sans MS";
}
.loader {
  border-top: 16px solid aqua;
  border-right: 16px solid #77ff4f;
  border-bottom: 16px solid hotpink;
  border-left: 16px solid #ffc285;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  margin: 50px;
}
@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }
