<div class="prettyStyle">
  <h1 class="headers text-center">Star Wars's Characters</h1>
  <div *ngIf ="load" class="loader text-center" role="status"></div>
  <div class="groupPeople">
    <div id="myPeople" *ngFor='let people of peopleList'>
      <app-people
        [people]="people">
      </app-people>
    </div>
  </div>
</div>
