
<div>
  <div id="questionComp">
    <p>{{enonce}}</p>
  </div>

  <div *ngIf='myRand===0'>
    <button class="designButtons" (click)="Validation(CorrectAnswer)">{{CorrectAnswer}}</button>
    <button class="designButtons" (click)="Validation(WrongAnswer)">{{WrongAnswer}}</button>
  </div>

  <div *ngIf="myRand===1">
    <button class="designButtons" (click)="Validation(WrongAnswer)">{{WrongAnswer}}</button>
    <button class="designButtons" (click)="Validation(CorrectAnswer)">{{CorrectAnswer}}</button>
  </div>

    <div class="campGoodAnswer" *ngIf="displayCorrectAnswer">{{MsgCorrectAnswer}}</div>
    <div class="campWrongAnswer" *ngIf="displayWrongAnswer">{{MsgWrongAnswer}}</div>
</div>
