#questionComp{
  display: flex;
  font-size: 20px;
  color: #ff42c9;
  margin-bottom: -15px;
}
.designButtons{
  margin: 7px;
  padding: 4px;
  font-size: 18px;
  background: powderblue;
  color: coral;
}
.campGoodAnswer{
  font-size: 15Px;
  color: rgba(85, 186, 44, 0.93);
  font-weight: bold;
}
.campWrongAnswer{
  font-size: 15px;
  color: red;
  font-weight: bold;
}
