<div>
  <nav style="margin-top: 5px">
    <a class="colorLinks" routerLink="/questions" routerLinkActive="active">Questions</a>
    <a class="colorLinks" routerLink="/listPeople" routerLinkActive="active">ListPersons</a>
  </nav>
<router-outlet></router-outlet>
</div>

