.allButtons{
  display: flex;
}
.lineStyle{
  font-family: "Comic Sans MS";
  padding-left: 15px;
}
.headerStyle{
  color: #2d5ee6;
  font-size: 45px;
  margin-top: 22px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
