<div class="lineStyle">
  <div class="headerStyle">
    <h1>
      <img src="https://cdn.icon-icons.com/icons2/2000/PNG/512/heart_love_smiley_icon_123396.png" alt="SMILE" width="80px">
        These are my questions
      <img src="https://cdn.icon-icons.com/icons2/2000/PNG/512/heart_love_smiley_icon_123396.png" alt="SMILE" width="80px">
    </h1>
  </div>
  <app-create-question
    (qCreated) = "onQuestionCreated($event)"
    (myRandEmitted)="makingMyRandom($event)"
  >
  </app-create-question>
  <br>
    <div *ngFor='let question of questions'>
      <app-question
        [randomFinal]="myReceivedRandom"
        *ngIf='showQuestion(question)'
        [enonce]="question.enonce"
        [CorrectAnswer]="question.CorrectAnswer"
        [WrongAnswer]="question.WrongAnswer"
      >
      </app-question>
    </div>
  </div>


